		/*******************************************************************************
		Theme Styles
		*******************************************************************************/

		body {
            -webkit-font-smoothing: antialiased;
            box-sizing: border-box;
            color: black;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            margin: 0;
            background: #e0f2f4; /* Old browsers */
            background: -moz-linear-gradient(top,  #e0f2f4 0, #dcecf0 50%, #dde4ec 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#e0f2f4), color-stop(50%,#dcecf0), color-stop(100%,#dde4ec)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #e0f2f4 0,#dcecf0 50%,#dde4ec 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #e0f2f4 0,#dcecf0 50%,#dde4ec 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #e0f2f4 0,#dcecf0 50%,#dde4ec 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #e0f2f4 0,#dcecf0 50%,#dde4ec 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f2f4', endColorstr='#dde4ec',GradientType=0 ); /* IE6-9 */
          }
  
          h1, h2, h3, h4, h5, h6 {
            color: #666;
            font-weight: normal;
            margin: 10px 0;
          }
  
          h1 {
            font-size: 36px;
            font-weight: 700;
            line-height: normal;
          }
  
          h2 {
            font-family: "Arial Narrow", HelveticaNeue-CondensedBold, Arial, sans-serif;
            font-size: 32px;
            font-stretch: condensed;
            font-weight: normal;
            padding-top: 16px; 
          }
  
          p {
            margin: 12px 0 16px 0;
          }
  
          a {
            text-decoration: none;
            color: #009de0;
          }
  
          a:hover {
            text-decoration: underline;
          }
  
          pre {
            width: 100%;
            color: #222;
            background-color: #f2f2f2;
            box-shadow: none;
            display: block;
  
            font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
            font-size: 14px;
  
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
  
            overflow: auto;
            padding: 10px;
            width: 100%;
          }
  
  
          /*******************************************************************************
          Full-Width Styles
          *******************************************************************************/
  
          .outer {
            width: 100%;
          }
  
          #main_content_wrap {
            background: #ffffff;
          }
  
          .inner {
            position: relative;
            max-width: 1000px;
            padding: 20px 10px;
            margin: 0 auto;
          }
  
          #header_wrap .inner {
            padding: 20px 10px 10px 10px;
          }
  
          #project_title {
            color: #666;
            font-size: 46px;
            font-family: "Arial Narrow", HelveticaNeue-CondensedBold, Arial, sans-serif;
            font-stretch: condensed;
            font-weight: normal;
          }
  
          .openui5_title {
            font-size: 52px;
            font-weight: normal;
            color: #8f8f8f;
          }
  
          .openui5_title_blue {
            color: #009DDF;
          }
  
          #main_content {
            padding: 12px 10px 80px 10px;
          }